<br/>
<div class="site-page-header-ghost-wrapper">
  <nz-page-header [nzGhost]="false">
    <nz-avatar nz-page-header-avatar class="background-primary"
               [nzShape]="'square'" [nzSize]="'small'" nzIcon="{{acRoute.snapshot.data['icon']}}">
    </nz-avatar>
    <nz-page-header-title>{{acRoute.snapshot.data['title'] | translate }}</nz-page-header-title>
    <nz-page-header-subtitle>{{acRoute.snapshot.data['description'] | translate }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space>
        <nz-space-item *ngIf="addButtonDisplay">
          <a nz-button nzType="default" nzSize="small" routerLink="add" class="addButtonStyle">
            <i nz-icon nzType="plus-circle"></i>
            {{'app.buttons.add' | translate}}
          </a>
        </nz-space-item>
        <nz-space-item *ngIf="listButtonDisplay">
          <a nz-button nzType="default" nzSize="small" (click)="redirectToListPage()" class="addButtonStyle">
            <i nz-icon nzType="sync"></i>
            {{'app.buttons.all' | translate}}
          </a>
        </nz-space-item>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <router-outlet></router-outlet>
    </nz-page-header-content>
  </nz-page-header>
</div>
