<div class="header">
  <div class="logo logo-dark">
    <a (click)="redirectHome()">
      <img class="logo-margin-fix" src="assets/images/logo/logo.png" alt="Logo">
      <img class="logo-fold logo-margin-fix" src="assets/images/logo/logo-fold.png" alt="Logo">
    </a>
  </div>
  <div class="logo logo-white">
    <a (click)="redirectHome()">
      <img class="logo-margin-fix" src="assets/images/logo/logo-white.png" alt="Logo">
      <img class="logo-fold logo-margin-fix" src="assets/images/logo/logo-fold-white.png" alt="Logo">
    </a>
  </div>
  <div class="nav-wrap">
    <ul class="nav-left">
      <li class="desktop-toggle">
        <a (click)="toggleFold()">
          <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
        </a>
      </li>
      <li class="mobile-toggle">
        <a (click)="toggleExpand()">
          <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
        </a>
      </li>
    </ul>
    <ul class="nav-right">
      <li>
        <a (click)="redirectHome()">
          <i nz-icon nzType="home" theme="outline"></i>
        </a>
      </li>
      <li>
        <a (click)="quickViewToggle()">
          <i nz-icon nzType="appstore" theme="outline"></i>
        </a>
        <nz-drawer [nzWidth]="280" nzTitle="Quick View" [nzClosable]="false" [nzVisible]="quickViewVisible"
                   nzPlacement="right" (nzOnClose)="quickViewToggle()">
          <app-quick-view></app-quick-view>
        </nz-drawer>
      </li>
      <li>
        <a (click)="logout()">
          <i nz-icon nzType="logout" theme="outline"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
