<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>
    <!-- Module Specific Fields - Start -->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.product-page.field.code' | translate}}"
                        controlName="code"
                        formControlName="code">
        </app-form-input>
      </div>
    </div> <!-- Module Specific Fields - End -->
    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
