<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <app-form-email [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.user-page.field.email' | translate}}"
                        controlName="email"
                        formControlName="email">
        </app-form-email>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.user-page.field.designation' | translate}}"
                        controlName="designation"
                        formControlName="designation">
        </app-form-input>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired="true">{{'app.user-page.field.phone' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" *ngIf="curdOps != 4">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="phonePrefix" class="phone-select">
                  <nz-option nzLabel="+968" nzValue="+968"></nz-option>
                  <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                </nz-select>
              </ng-template>
              <input required="true" formControlName="phone" id="'phone'" nz-input type="number"/>
            </nz-input-group>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.phonePrefix + ' ' + object.phone}} </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.user-page.field.lang' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select formControlName="lang" nzSize="small"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option nzValue="en" nzLabel="{{'app.lang.english' | translate }}"></nz-option>
                <nz-option nzValue="ar" nzLabel="{{'app.lang.arabic' | translate }}"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.lang}} </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.user-page.field.roleAccess' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select [compareWith]="selectStringCompareValueFn" formControlName="selectedRoleAccessId"
                         nzSize="small"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option nzValue="{{entry.key}}" nzLabel="{{entry.value}}"
                           *ngFor="let entry of roleAccessIdNames | keyvalue"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <nz-tag class="tagMarginTop" [nzColor]="'default'" *ngIf="roleAccessIdNames">
                {{roleAccessIdNames[object?.selectedRoleAccessId]}}
              </nz-tag>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.user-page.field.address' | translate}}"
                        controlName="address"
                        formControlName="address"
                        [optionalFlag]="true">
        </app-form-input>
      </div>
    </div>

    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
