<nz-form-item>
  <nz-form-label [nzRequired]="requiredIcon">{{controlText}}</nz-form-label>
  <nz-form-control *ngIf="curdOps != 4" [nzValidateStatus]="getFormField()"
                   [nzHasFeedback]="getFormField()?.invalid
		                && getFormField()?.dirty" [nzErrorTip]="errorTemplate">
    <input nz-input type="password" [(ngModel)]="value"
           [disabled]="isDisabled" [placeholder]="controlText" nzSize="small"
           (input)="onChange($event)"
           (blur)="touched()"
           nz-tooltip
           [nzTooltipTitle]="patternText"
    />
  </nz-form-control>
  <ng-template #errorTemplate let-control>
    <app-field-errors [control]="getFormField()"></app-field-errors>
  </ng-template>
  <nz-form-control *ngIf="curdOps == 4">
    <span>{{value}}</span>
  </nz-form-control>
</nz-form-item>
