<ng-template [ngIf]="curdOps == 4">
  <nz-divider></nz-divider>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <div nz-col [nzSpan]="8">
          <nz-form-label>{{'app.generic-page.field.createdAt' | translate}}</nz-form-label>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-control>
            <span>{{object?.createdAt}}</span>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <div nz-col [nzSpan]="8">
          <nz-form-label>{{'app.generic-page.field.createdBy' | translate}}</nz-form-label>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-control>
            <span>{{object?.createdBy}}</span>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <div nz-col [nzSpan]="8">
          <nz-form-label>{{'app.generic-page.field.modifiedAt' | translate}}</nz-form-label>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-control>
            <span>{{object?.modifiedAt}}</span>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <div nz-col [nzSpan]="8">
          <nz-form-label>{{'app.generic-page.field.modifiedBy' | translate}}</nz-form-label>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-form-control>
            <span>{{object?.modifiedBy}}</span>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
  </div>
</ng-template>
