<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.menu-page.field.path' | translate}}"
                        controlName="path"
                        formControlName="path"
                        [specialFlag]="true">
        </app-form-input>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-input controlText="{{'app.menu-page.field.icon' | translate}}"
                        controlName="icon"
                        formControlName="icon"
                        [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        [specialFlag]="true">
        </app-form-input>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.menu-page.field.iconType' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select formControlName="iconType" nzSize="small"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option nzValue="nzIcon" nzLabel="nzIcon"></nz-option>
                <nz-option nzValue="fontawesome" nzLabel="fontawesome"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.iconType}}</span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.menu-page.field.iconTheme' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select formControlName="iconTheme" nzSize="small"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option nzValue="fab" nzLabel="fab"></nz-option>
                <nz-option nzValue="far" nzLabel="far"></nz-option>
                <nz-option nzValue="fas" nzLabel="fas"></nz-option>
                <nz-option nzValue="fill" nzLabel="fill"></nz-option>
                <nz-option nzValue="outline" nzLabel="outline"></nz-option>
                <nz-option nzValue="twotone" nzLabel="twotone"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.iconTheme}}</span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.menu-page.field.menuType' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select formControlName="menuType" nzSize="small"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option *ngFor="let type of roleMenuType" nzValue="{{type}}"
                           nzLabel="{{'app.roleMenuType.'+ type | translate}}"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.menuType}}</span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.menu-page.field.rootMenuId' | translate}}"
                        controlName="rootMenuId"
                        formControlName="rootMenuId"
                        [numericFlag]="true">
        </app-form-input>
      </div>
    </div>

    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
