<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="customCreateOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.role-data-page.field.code' | translate}}"
                        controlName="code"
                        formControlName="code"
                        [specialFlag]="true">
        </app-form-input>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <button nz-button nzType="primary" nzSize="small" (click)="addDbDetailToFromGroup($event)">
          <i nz-icon nzType="plus-circle"></i>
          {{'app.role-data-page.add-db-details' | translate}}
        </button>
        <br/>
        <br/>
        <div formArrayName="dbDetailList">
          <nz-table #dbDetail nzBordered [nzData]="['']">
            <thead>
            <tr>
              <th nzColumnKey="productId">{{'app.role-data-page.field.product' | translate}}</th>
              <th nzColumnKey="driver">{{'app.role-data-page.field.driver' | translate}}</th>
              <th nzColumnKey="url">{{'app.role-data-page.field.connectionString' | translate}}</th>
              <th nzColumnKey="userName">{{'app.role-data-page.field.username' | translate}}</th>
              <th nzColumnKey="password">{{'app.role-data-page.field.password' | translate}}</th>
              <th>{{'app.pagination.options' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let db of curdForm.get('dbDetailList')['controls']; let i = index"
                [formGroupName]="i">
              <td>
                <nz-form-item>
                  <div nz-col [nzSpan]="16">
                    <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
                      <nz-select [compareWith]="selectStringCompareValueFn" formControlName="product"
                                 nzSize="small"
                                 nzPlaceHolder="{{'app.pagination.select' | translate}}">
                        <nz-option nzValue="{{entry.key}}" nzLabel="{{entry.value}}"
                                   *ngFor="let entry of productIdNames | keyvalue"></nz-option>
                      </nz-select>
                    </nz-form-control>
                    <nz-form-control *ngIf="curdOps == 4">
                      <nz-tag class="tagMarginTop" [nzColor]="'default'" *ngIf="productIdNames">
                        {{productIdNames[db.product]}}
                      </nz-tag>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </td>
              <td>
                <app-form-input [parentForm]="curdForm"
                                [curdOps]="curdOps"
                                controlText="{{'app.role-data-page.field.driver' | translate}}"
                                controlName="driver"
                                formControlName="driver"
                                [specialFlag]="true"
                                [hideLabel]="true">
                </app-form-input>
              </td>
              <td>
                <app-form-input [parentForm]="curdForm"
                                [curdOps]="curdOps"
                                controlText="{{'app.role-data-page.field.connectionString' | translate}}"
                                controlName="url"
                                formControlName="url"
                                [specialFlag]="true"
                                [hideLabel]="true">
                </app-form-input>
              </td>
              <td>
                <app-form-input [parentForm]="curdForm"
                                [curdOps]="curdOps"
                                controlText="{{'app.role-data-page.field.username' | translate}}"
                                controlName="username"
                                formControlName="username"
                                [specialFlag]="true"
                                [hideLabel]="true">
                </app-form-input>
              </td>
              <td>
                <app-form-input [parentForm]="curdForm"
                                [curdOps]="curdOps"
                                controlText="{{'app.role-data-page.field.password' | translate}}"
                                controlName="password"
                                formControlName="password"
                                [specialFlag]="true"
                                [hideLabel]="true">
                </app-form-input>
              </td>
              <td>
                <a nz-tooltip
                   nzTooltipTitle="{{'app.buttons.delete' | translate}}"
                   nz-popconfirm
                   nzPopconfirmTitle="{{'app.buttons.deletePopUp' | translate}}"
                   nzPopconfirmPlacement="bottom"
                   nzOkText="{{'app.buttons.yes' | translate}}"
                   nzCancelText="{{'app.buttons.no' | translate}}"
                   (nzOnConfirm)="deleteDbDetailFromFromGroup(i)">
                  <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff7875"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
