<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="customCreateOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.role-access-page.field.roleData' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="{{'app.pagination.select' | translate}}"
                [(ngModel)]="selectedRoleDataIds"
                formControlName="selectedRoleDataIds">
                <nz-option *ngFor="let entry of roleDataIdNames | keyvalue" [nzLabel]="entry.value"
                           [nzValue]="entry.key"></nz-option>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedRoleDataIds> {{'app.role-access-page.general.and' | translate}}
                {{ selectedRoleDataIds.length }} {{'app.role-access-page.general.more' | translate}}</ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <nz-tag class="tagMarginTop" [nzColor]="'default'"
                      *ngFor="let id of selectedRoleDataIds">
                <ng-template [ngIf]="roleDataIdNames">
                  {{roleDataIdNames[id]}}
                </ng-template>
              </nz-tag>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.role-access-page.field.product' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="{{'app.pagination.select' | translate}}"
                [(ngModel)]="selectedProductIds"
                formControlName="selectedProductIds">
                <nz-option *ngFor="let entry of productIdNames | keyvalue" [nzLabel]="entry.value"
                           [nzValue]="entry.key"></nz-option>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedProductIds> {{'app.general.forms.field.and' | translate}}
                {{ selectedProductIds.length }} {{'app.general.forms.field.more' | translate}}</ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <nz-tag class="tagMarginTop" [nzColor]="'default'"
                      *ngFor="let id of selectedProductIds">
                <ng-template [ngIf]="productIdNames">
                  {{productIdNames[id]}}
                </ng-template>
              </nz-tag>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-tabset [(nzSelectedIndex)]="selectedTab" nzTabPosition="left">
          <nz-tab *ngFor="let menuType of allMenuTypes" nzTitle="{{menuType}}"
                  (nzClick)="onTabClicked(menuType)">
            <nz-tree
              [nzData]="listOfNodes"
              nzCheckable
              (nzCheckBoxChange)="nzEvent($event)">
            </nz-tree>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
