<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-4 d-none d-lg-flex" style="background-image:url('assets/images/others/login-1.jpg')">
      <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between">
        <div>
          <img class="logo-margin-fix" src="assets/images/logo/logo-white.png" alt="">
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">{{'app.name' | translate }}</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">{{'app.description' | translate }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-white">© {{'app.year' | translate }} {{'app.author' | translate }}</span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-link" href="">{{'app.privacy' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white text-link" href="">{{'app.login-page.home' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 bg-white">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>{{'app.general.forms.sign-in' | translate }}</h2>
            <p class="m-b-30">{{'app.general.forms.sign-in-info' | translate }}</p>
            <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form"
                  (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="email">
                  {{'app.general.forms.field.email' | translate }}
                </nz-form-label>
                <nz-form-control nzErrorTip="{{'app.error.msg-1' | translate }}">
                  <nz-input-group [nzPrefix]="prefixEmail">
                    <input type="email" nz-input formControlName="email"
                           placeholder="{{'app.general.forms.field.email' | translate }}">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired
                               nzFor="password">{{'app.general.forms.field.password' | translate }}</nz-form-label>
                <a class="font-size-13 p-t-10 text-muted" style="position:absolute; right: 0"
                   (click)="confirmForgotPassword()">{{'app.general.forms.forget-password' | translate }}</a>
                <nz-form-control nzErrorTip="{{'app.error.msg-2' | translate }}">
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password"
                           placeholder="{{'app.general.forms.field.password' | translate }}">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="font-size-13 text-muted"></span>
                    <button nz-button class="login-form-button"
                            [nzType]="'primary'">{{'app.general.forms.sign-in' | translate }}</button>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex align-items-center justify-content-between">
                    <span *ngIf="isAdmin"
                          class="font-size-13 text-muted">{{'app.login-page.dont-have-account' | translate }}
                      <a class="small" (click)="redirectRegistration()">
                                                {{'app.general.forms.sign-up' | translate }}</a></span>
                    <span class="font-size-13 text-muted">{{'app.lang.language' | translate }}: <a
                      class="small" (click)="useLanguage('en')">
                      {{'app.lang.english' | translate }}</a> |
                      <a class="small"
                         (click)="useLanguage('ar')">{{'app.lang.arabic' | translate }}</a>
                    </span>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
