<div nz-row nzJustify="end">
  <div nz-col>
    <nz-space>
      <nz-space-item>
        <input [(ngModel)]="pagination.searchValue" class="search-input-size"
               nz-input placeholder="{{'app.pagination.searchValue' | translate}}" nzSize="small"/>
      </nz-space-item>
      <nz-space-item>
        <nz-select id="searchSelect" [(ngModel)]="pagination.searchField">
          <nz-option nzValue="" nzLabel="{{'app.pagination.searchField' | translate}}"></nz-option>
          <nz-option nzValue="id" nzLabel="{{'app.pagination.id' | translate}}"></nz-option>

          <nz-option nzValue="name" nzLabel="{{'app.jobs-page.field.name' | translate}}"></nz-option>
          <nz-option nzValue="description" nzLabel="{{'app.jobs-page.field.description' | translate}}"></nz-option>

        </nz-select>
      </nz-space-item>
      <nz-space-item>
        <button nz-button nzType="primary" nzSize="small" (click)="search()">
          <i nz-icon nzType="search"></i>
        </button>
      </nz-space-item>
    </nz-space>
  </div>
</div>
<app-module-data-table [endPoint]="endPoint" [pagination]="pagination"></app-module-data-table>
