<footer class="footer">
    <div class="footer-content justify-content-between">
        <p class="m-b-0">© {{'app.year' | translate }} {{'app.author' | translate }}</p>
        <span>
            <p class="m-b-0">{{'app.rights' | translate }}</p>
        </span>
    </div>
</footer>
