<nz-divider></nz-divider>
<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="createOrUpdate()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <input nz-input name="id" type="hidden" formControlName="id"/>
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.generation-page.field.name' | translate}}"
                        controlName="name"
                        formControlName="name"
                        [specialFlag]="true">
        </app-form-input>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-input [parentForm]="curdForm"
                        [curdOps]="curdOps"
                        controlText="{{'app.generation-page.field.description' | translate}}"
                        controlName="description"
                        formControlName="description"
                        [specialFlag]="true">
        </app-form-input>
      </div>
    </div>
    <nz-divider></nz-divider>
    <nz-space>
      <nz-space-item *ngIf="curdOps != 4">
        <button nz-button nzType="default" nzDanger nzSize="small" (click)="reset()">
          <i nz-icon nzType="close-circle"></i>
          {{'app.buttons.reset' | translate}}
        </button>
      </nz-space-item>
      <nz-space-item *ngIf="curdOps != 4">
        <button nz-button nzType="primary" nzSize="small">
          <i nz-icon nzType="check-circle"></i>
          {{'app.buttons.submit' | translate}}
        </button>
      </nz-space-item>
    </nz-space>
  </form>
</nz-spin>
