<ng-container *ngIf="control?.errors?.required">
  {{'app.error.msg-1' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.minlength">
  {{'app.error.msg-13' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.maxlength">
  {{'app.error.msg-12' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.pattern">
  {{'app.error.msg-14' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.numberRequired">
  {{'app.error.msg-15' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.uppercaseCharacterRule">
  {{'app.error.msg-19' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.lowercaseCharacterRule">
  {{'app.error.msg-20' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.digitCharacterRule">
  {{'app.error.msg-21' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.specialCharacterRule">
  {{'app.error.msg-22' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.alphabeticalCharacterRule">
  {{'app.error.msg-23' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.allowedCharacterRule">
  {{'app.error.msg-24' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.mismatchedPasswords">
  {{'app.error.msg-25' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.email">
  {{'app.error.msg-27' | translate}}
</ng-container>
