<ng-template [ngIf]="curdOps != 4">
  <nz-divider></nz-divider>
  <nz-space>
    <nz-space-item>
      <button nz-button nzType="default" nzDanger nzSize="small" (click)="reset()">
        <i nz-icon nzType="close-circle"></i>
        {{'app.buttons.reset' | translate}}
      </button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzType="primary" nzSize="small">
        <i nz-icon nzType="check-circle"></i>
        {{'app.buttons.submit' | translate}}
      </button>
    </nz-space-item>
  </nz-space>
</ng-template>
