<div class="container-fluid p-v-20 h-100">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-none d-md-block p-h-40">
      <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="p-v-30">
            <h1 *ngIf="!messageFlag"
                class="font-weight-semibold display-1 text-primary lh-1-2">{{'app.error-page.status-code' | translate }}</h1>
            <h2 *ngIf="!messageFlag"
                class="font-weight-light font-size-30">{{'app.error-page.header-1' | translate }}</h2>
            <h2 *ngIf="messageFlag" class="font-weight-light font-size-30">{{message | translate }}</h2>
            <p *ngIf="!messageFlag" class="lead m-b-30">{{'app.error-page.header-2' | translate }}</p>
            <a (click)="redirectLogin()" nz-button
               nzType="primary">{{'app.error-page.login-again' | translate }}</a>
          </div>
        </div>
        <div class="col-md-6 m-l-auto">
          <img class="img-fluid" src="assets/images/others/error-1.png" alt="">
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© {{'app.year' | translate }} {{'app.author' | translate }}</span>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="text-dark text-link" href="">{{'app.privacy' | translate }}</a>
        </li>
        <li class="list-inline-item">
          <a class="text-dark text-link" href="">{{'app.login-page.home' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
