<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="customCreateOrUpdate()">
    <app-form-general [curdForm]="curdForm" [curdOps]="curdOps" [object]="object"></app-form-general>
    <!-- Module Specific Fields - Start -->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label
              nzRequired="true">{{'app.report-configuration-page.field.reportType' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select formControlName="reportType" [(ngModel)]="reportType" nzSize="small"
                         (ngModelChange)="disableHiddenReportTypeControls()"
                         nzPlaceHolder="{{'app.pagination.select' | translate}}">
                <nz-option nzValue="1"
                           nzLabel="{{'app.report-configuration-page.field.report-type-options.static' | translate }}">
                </nz-option>
                <nz-option nzValue="2"
                           nzLabel="{{'app.report-configuration-page.field.report-type-options.dynamic' | translate }}">
                </nz-option>
                <nz-option nzValue="3"
                           nzLabel="{{'app.report-configuration-page.field.report-type-options.custom' | translate }}">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
               <span *ngIf="object?.reportType == '1'">
                {{'app.report-configuration-page.field.report-type-options.static' | translate }}
              </span>
              <span *ngIf="object?.reportType == '2'">
                {{'app.report-configuration-page.field.report-type-options.dynamic' | translate }}
              </span>
              <span *ngIf="object?.reportType == '3'">
                {{'app.report-configuration-page.field.report-type-options.custom' | translate }}
              </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.product-page.name' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="{{'app.pagination.select' | translate}}"
                [(ngModel)]="selectedProductIds"
                formControlName="selectedRoleDataIds">
                <ng-container *ngFor="let entry of productIdNames | keyvalue">
                  <nz-option [nzLabel]="entry.value"
                             [nzValue]="entry.key"></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #tagPlaceHolder let-productIdNames> {{'app.general.forms.field.and' | translate}}
                {{ productIdNames.length }} {{'app.general.forms.field.more' | translate}}</ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <nz-tag class="tagMarginTop" [nzColor]="'default'"
                      *ngFor="let id of productIdNames">
                <ng-template [ngIf]="productIdNames">
                  {{productIdNames[id]}}
                </ng-template>
              </nz-tag>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <div nz-col [nzSpan]="8">
            <nz-form-label nzRequired>{{'app.role-data-page.name' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="{{'app.pagination.select' | translate}}"
                [(ngModel)]="selectedRoleDataIds"
                formControlName="selectedRoleDataIds">
                <ng-container *ngFor="let entry of roleDataIdNames | keyvalue">
                  <nz-option [nzLabel]="entry.value"
                             [nzValue]="entry.key"></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedRoleDataIds> {{'app.general.forms.field.and' | translate}}
                {{ selectedRoleDataIds.length }} {{'app.general.forms.field.more' | translate}}</ng-template>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <nz-tag class="tagMarginTop" [nzColor]="'default'"
                      *ngFor="let id of selectedRoleDataIds">
                <ng-template [ngIf]="roleDataIdNames">
                  {{roleDataIdNames[id]}}
                </ng-template>
              </nz-tag>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="reportType=='1'">
      <nz-divider></nz-divider>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <div nz-col [nzSpan]="4">
            <nz-form-label
              nzRequired="true">{{'app.report-configuration-page.field.query' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="20">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <textarea formControlName="staticQuery" nz-input
                        placeholder="{{'app.report-configuration-page.field.query-description' | translate}}"></textarea>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.staticQuery}} </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="reportType=='2'">
      <nz-divider></nz-divider>

    </div>
    <div nz-row [nzGutter]="24" *ngIf="reportType=='3'">
      <nz-divider></nz-divider>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <div nz-col [nzSpan]="4">
            <nz-form-label
              nzRequired="true">{{'app.report-configuration-page.field.custom-Identifier' | translate}}</nz-form-label>
          </div>
          <div nz-col [nzSpan]="20">
            <nz-form-control *ngIf="curdOps != 4" nzErrorTip="{{'app.error.msg-1' | translate}}">
              <textarea formControlName="customIdentifier" nz-input
                        placeholder="{{'app.report-configuration-page.field.custom-Identifier-description' | translate}}"></textarea>
            </nz-form-control>
            <nz-form-control *ngIf="curdOps == 4">
              <span>{{object.customIdentifier}} </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <!-- Module Specific Fields - End -->
    <app-form-audit [object]="object" [curdOps]="curdOps"></app-form-audit>
    <app-form-submit-buttons [curdOps]="curdOps" [curdForm]="curdForm"></app-form-submit-buttons>
  </form>
</nz-spin>
