<nz-form-item>
  <div nz-col [nzSpan]="8" *ngIf="!hideLabel">
    <nz-form-label [nzRequired]="requiredIcon">{{controlText}}</nz-form-label>
  </div>
  <div nz-col [nzSpan]="16">
    <nz-form-control *ngIf="curdOps != 4" [nzValidateStatus]="getFormField()"
                     [nzHasFeedback]="getFormField()?.invalid
		                && getFormField()?.dirty" [nzErrorTip]="errorTemplate">
      <input nz-input [(ngModel)]="value"
             [disabled]="isDisabled" [placeholder]="controlText" nzSize="small"
             (input)="onChange($event)"
             (blur)="touched()"
             nz-tooltip
             [nzTooltipTitle]="patternText"
      />
    </nz-form-control>
    <ng-template #errorTemplate>
      <app-field-errors [control]="getFormField()" [controlName]="controlText"></app-field-errors>
    </ng-template>
    <nz-form-control *ngIf="curdOps == 4">
      <span>{{value}}</span>
    </nz-form-control>
  </div>
</nz-form-item>
