<nz-divider></nz-divider>
<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="horizontal" [formGroup]="curdForm" (ngSubmit)="createOrUpdate()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <input nz-input name="email" type="hidden" formControlName="email"/>
        <app-form-password [parentForm]="curdForm"
                           [curdOps]="curdOps"
                           controlText="{{'app.password-page.field.oPassword' | translate}}"
                           controlName="oldPassword"
                           formControlName="oldPassword">
        </app-form-password>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-password [parentForm]="curdForm"
                           [curdOps]="curdOps"
                           controlText="{{'app.password-page.field.password' | translate}}"
                           controlName="password"
                           formControlName="password">
        </app-form-password>
      </div>
      <div nz-col [nzSpan]="8">
        <app-form-password [parentForm]="curdForm"
                           [curdOps]="curdOps"
                           controlText="{{'app.password-page.field.cPassword' | translate}}"
                           controlName="confirmPassword"
                           formControlName="confirmPassword">
        </app-form-password>
      </div>
    </div>
    <nz-divider></nz-divider>
    <nz-space>
      <nz-space-item *ngIf="curdOps != 4">
        <button nz-button nzType="default" nzDanger nzSize="small" (click)="reset()">
          <i nz-icon nzType="close-circle"></i>
          {{'app.buttons.reset' | translate}}
        </button>
      </nz-space-item>
      <nz-space-item *ngIf="curdOps != 4">
        <button nz-button nzType="primary" nzSize="small">
          <i nz-icon nzType="check-circle"></i>
          {{'app.buttons.submit' | translate}}
        </button>
      </nz-space-item>
    </nz-space>
  </form>
</nz-spin>
