<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-4 d-none d-lg-flex" style="background-image:url('assets/images/others/sign-up-1.jpg')">
      <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between">
        <div>
          <img src="assets/images/logo/logo-white.png" alt="">
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">{{'app.name' | translate }}</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">{{'app.description' | translate }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-white">© {{'app.year' | translate }} {{'app.author' | translate }}</span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-link" href="">{{'app.privacy' | translate }}</a>
            </li>
            <li class="list-inline-item">
              <a class="text-white text-link" href="">{{'app.login-page.home' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 bg-white">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>{{'app.general.forms.sign-up' | translate }}</h2>
            <p class="m-b-30">{{'app.sign-up-page.label.txt-1' | translate }}</p>
            <form nz-form [formGroup]="signUpForm" class="login-form" nzLayout="vertical" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label nzRequired
                               nzFor="name">{{'app.sign-up-page.label.username' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="{{'app.sign-up-page.error.msg-1' | translate }}">
                  <input type="text" nz-input formControlName="name"
                         placeholder="{{'app.sign-up-page.label.username' | translate }}" id="name">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="email">{{'app.sign-up-page.label.email' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="{{'app.sign-up-page.error.msg-2' | translate }}">
                  <input type="text" nz-input formControlName="email"
                         placeholder="{{'app.sign-up-page.label.email' | translate }}" id="email">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="phone" nzRequired>
                  {{'app.sign-up-page.label.phone' | translate }}
                </nz-form-label>
                <nz-form-control
                  [nzValidateStatus]="signUpForm.controls['phone']"
                  nzErrorTip="{{'app.sign-up-page.error.msg-6' | translate }}">
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="phonePrefix" class="phone-select">
                        <nz-option nzLabel="+968" nzValue="+968"></nz-option>
                        <nz-option nzLabel="+91" nzValue="+91"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input formControlName="phone" id="'phone'" nz-input/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired
                               nzFor="designation">{{'app.sign-up-page.label.designation' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="{{'app.sign-up-page.error.msg-7' | translate }}">
                  <input type="text" nz-input formControlName="designation"
                         placeholder="{{'app.sign-up-page.label.designation' | translate }}" id="designation">
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired
                               nzFor="address">{{'app.sign-up-page.label.address' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="{{'app.sign-up-page.error.msg-8' | translate }}">
                   <textarea
                     nz-input formControlName="address" id="address"
                     placeholder="{{'app.sign-up-page.label.address' | translate }}"
                     [nzAutosize]="{ minRows: 2, maxRows: 6 }">
                </textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="lang" nzRequired>{{'app.lang.language' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="{{'app.sign-up-page.error.msg-5' | translate }}">
                  <nz-radio-group formControlName="lang">
                    <label nz-radio nzValue="en">{{'app.lang.english' | translate }}</label>
                    <label nz-radio nzValue="ar">{{'app.lang.arabic' | translate }}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <div class="d-flex align-items-center justify-content-between">
                <nz-form-item>
                  <nz-form-control>
                    <div>
                      <button nz-button class="login-form-button"
                              [nzType]="'primary'">{{'app.general.forms.sign-up' | translate }}</button>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
