<nz-divider></nz-divider>
<div nz-row [nzGutter]="24">
  <input nz-input name="id" type="hidden" [formControl]="id"/>
  <div nz-col [nzSpan]="8" *ngIf="curdOps == 4">
    <nz-form-item>
      <div nz-col [nzSpan]="8">
        <nz-form-label [nzRequired]="true">{{'app.generic-page.field.id' | translate}}</nz-form-label>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-control>
          <span>{{object?.id}}</span>
        </nz-form-control>
      </div>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <div nz-col [nzSpan]="8">
        <nz-form-label [nzRequired]="true">{{'app.generic-page.field.name' | translate}}</nz-form-label>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-control *ngIf="curdOps != 4" [nzValidateStatus]="getFormField('name')"
                         [nzHasFeedback]="getFormField('name')?.invalid
		                && getFormField('name')?.dirty" [nzErrorTip]="nameErrorTemplate">
          <input nz-input
                 placeholder="{{'app.generic-page.field.name' | translate}}" nzSize="small"
                 [formControl]="name"
                 nz-tooltip
                 [nzTooltipTitle]="namePattern"
          />
        </nz-form-control>
        <ng-template #nameErrorTemplate>
          <app-field-errors [control]="getFormField('name')" controlName="name"></app-field-errors>
        </ng-template>
        <nz-form-control *ngIf="curdOps == 4">
          <span>{{object?.name}}</span>
        </nz-form-control>
      </div>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <div nz-col [nzSpan]="8">
        <nz-form-label>{{'app.generic-page.field.description' | translate}}</nz-form-label>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-control *ngIf="curdOps != 4" [nzValidateStatus]="getFormField('description')"
                         [nzHasFeedback]="getFormField('description')?.invalid
		                && getFormField('description')?.dirty" [nzErrorTip]="descriptionErrorTemplate">
          <input nz-input
                 placeholder="{{'app.generic-page.field.description' | translate}}" nzSize="small"
                 [formControl]="description"
                 nz-tooltip
                 [nzTooltipTitle]="descriptionPattern"
          />
        </nz-form-control>
        <ng-template #descriptionErrorTemplate>
          <app-field-errors [control]="getFormField('description')" controlName="description"></app-field-errors>
        </ng-template>
        <nz-form-control *ngIf="curdOps == 4">
          <span>{{object?.description}}</span>
        </nz-form-control>
      </div>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <div nz-col [nzSpan]="8">
        <nz-form-label nzRequired>{{'app.generic-page.field.status' | translate}}</nz-form-label>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-control *ngIf="curdOps != 4" [nzErrorTip]="statusErrorTemplate">
          <nz-select [formControl]="status"
                     nzSize="small"
                     nzPlaceHolder="{{'app.pagination.select' | translate}}">
            <nz-option [nzValue]="true" nzLabel="{{'app.generic-page.values.active' | translate}}"></nz-option>
            <nz-option [nzValue]="false" nzLabel="{{'app.generic-page.values.inactive' | translate}}"></nz-option>
          </nz-select>
        </nz-form-control>
        <ng-template #statusErrorTemplate>
          <app-field-errors [control]="getFormField('status')" controlName="status"></app-field-errors>
        </ng-template>
        <nz-form-control *ngIf="curdOps == 4">
          <span *ngIf="object.status">{{'app.generic-page.values.active' | translate}}</span>
          <span *ngIf="!object.status">{{'app.generic-page.values.inactive' | translate}}</span>
        </nz-form-control>
      </div>
    </nz-form-item>
  </div>
</div>
<nz-divider></nz-divider>
